.container-rg {
    margin-top: 50px;
    margin-right: 30px;
}
.max-width-column {
    max-width: 10px;
    background-color: transparent;
}
.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: -50px;
    margin-top: 5px;
    border-radius: 10px;
    height: 28px;
    margin-left: 15%;
    font-size: 15px;
    background-color: none;
    color: #222;
    transition: 0.35s;
    user-select: none;
}
.button:hover {
    transform: scale(1.02);
}

