.side-image {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  top: 80;
  margin-left: 450px;
  z-index: 1;
  user-select: none;
}
.total-container {
  min-width: 100%;
}
.total-label {
  font-size: 23px;
  margin-bottom: 2px;
}
.total-display {
  font-size: 30px;
  color: #1f9837;
}
