body {
    padding: 20px;
    position: relative;
    background-image: url("images/PaymentTrackerBackground.ico"); /* Replace with the path to your image */
    background-size: contain;
    background-repeat:repeat;
}
.components {
    position: relative;
    z-index: 2;
}
