body {
    padding: 20px;
    position: relative;
    background-image: url("C:\Users\defaultuser0.LAPTOP-KABCTR0T\PaymentTracker\images\PaymentTrackerBackground.png"); /* Replace with the path to your image */
    background-size: contain;
    background-repeat:repeat;
}
.components {
    position: relative;
    z-index: 2;
}
